#scrapbook {
    display: none;
    margin-bottom: 30px;
    text-align: center;
    h2 {
        font-size: 72px;
        font-weight: 200;
    }
    iframe {
        border-bottom: 1px solid $gray;
        margin-bottom: 10px;
    }
    p {
        font-size: 18px;
        i {
            font-size: 24px;
            position: relative;
            top: 3px;
            padding: 0 10px;
        }
    }
}
