<div id="about" class="row">
    <div id="what-is" class="col-sm-7">
        <h3>What is Dorothy's List?</h3>
        <p>Dorothy’s List is VPR’s book club for kids! Each month we highlight a book nominated for the Dorothy Canfield Fisher Children’s Book Award. We visit schools and libraries where the book is being read, check out how young readers are interacting with the book and relay students’ questions to the author.</p>
        <h3>The Dorothy Canfield Fisher Award</h3>
        <p>First given in 1957, the Dorothy Canfield Fisher Children's Book Award has <a href="https://sites.google.com/a/cesuvt.org/dcf-award/">honored quality literature for children</a> for over 55 years. Each spring, 30 nominees are named to the <a href="{{ url_for('static', filename='pdf/dcf-award-master-2013.pdf') }}">DCF Master List</a>. After reading at least five books from the list, Vermont students in grades four through eight vote for their favorite. Learn more <a href="http://dcfbooks.edublogs.org/">here</a>.</p>
        <h3>How to get involved</h3>
        <p>How does your school or library do DCF? Let us know! Share an activity or a lesson plan. Tell us what books you’d like to see highlighted on Dorothy’s List and why. And please let us know if you’re interested in participating in a future program!</p>
    </div>
    <div id="meet-amy" class="col-sm-5">
        <div class="row">
            <h3>Project Curator</h3>
            <div class="col-xs-6">
                <img class="img-responsive img-circle" src="{{ url_for('static', filename='img/amy.jpg') }}">
            </div>
            <div id="contact-amy" class="col-xs-6">
                <h4>Amy Kolb Noyes</h4>
                <ul>
                    <li><a href="http://twitter.com/amykolbnoyes">@AmyKolbNoyes</a></li>
                    <li><a href="mailto:anoyes@vpr.net">anoyes@vpr.net</a></li>
                </ul>
            </div>
        </div>
        <p>Dorothy's List is curated and reported by VPR's Amy Kolb Noyes, is produced by Angela Evancie and is funded in part by the VPR Journalism Fund. Share your questions and suggestions with Amy on <a href="http://twitter.com/amykolbnoyes">Twitter</a> or via <a href="mailto:anoyes@vpr.net">e-mail</a>.</p>
        <p id="poster"><strong>Want to put up a poster for Dorothy's List in your classroom or library?</strong></p>
        <p id="click-pdf"><a href="{{ url_for('static', filename='pdf/vpr-dorothys-list-poster.pdf') }}">Click here</a> for a printable poster or <a href="{{ url_for('static', filename='pdf/vpr-dorothys-list-flyer.pdf') }}">here</a> for a flyer.</p>
    </div>
</div>
